<div class="btn btn-primary"
           style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list1"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list1.title">
           {{list1.title}}
      {{list1.id}}</div>
      <div class="btn btn-primary"
            style='height:50px; width:60px'
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            jqyoui-draggable="{animate:true}"
            ng-model="list2"
            ng-hide="!list2.title"

      >{{list2.title}}{{list2.id}}</div>
      
      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list3"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list3.title">
          {{list3.title}}
      {{list3.id}}</div>

      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list4"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list4.title">
          {{list4.title}}
      {{list4.id}}</div>
      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list5"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list5.title">
          {{list5.title}}
      {{list5.id}}</div>
      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list6"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list6.title">
          {{list6.title}}
      {{list6.id}}</div>
      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list7"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list7.title">
          {{list7.title}}
      {{list7.id}}</div>

      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list8"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list8.title">
          {{list8.title}}
      {{list8.id}}</div>

      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list9"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list9.title">
          {{list9.title}}
      {{list9.id}}</div>

      <div class="btn btn-primary"
                 style='height:50px; width:60px'
           data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}"
           ng-model="list10"
           jqyoui-draggable="{animate:true}"
           ng-hide="!list10.title">
          {{list10.title}}
      {{list10.id}}</div>