<form class="form-signin" role="form" ng-controller="tableController">
                      <h3 class="form-signin-heading">Lanzar Ancla del Barco</h3>
                
                      <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">FILA<i class="fa fa-user fa-fw"></i></span>
                        <input id="row" ng-model="posx" class="form-control" type="number" min="1" max="10" value="1"  placeholder="posicion en x" required autofocus >
                        
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">COLUMNA<i class="fa fa-unlock-alt fa-fw"></i></span>
                        <input id="col" ng-model="posy" class="form-control" type="number" min="1" max="10" value="1" placeholder="posicion en y" required autofocus>
                        
                      </div>
                
                      <div>
                        <label ng-click='guardarP("X="+posx+" Y="+posy)' class="checkbox" title="Es necesario marcar el area que ocupara el barco >
                          <input  type="checkbox" value="marcar"> Marcar
                        </label>
                      </div>
                      <button class="barco barcotype="submit" ng-click='guardarPos(posx,posy)'>Entrar </button>
                    </form>
  </div>