<div class="jumbotron">
  <h1>BattleShip: batalla de barcos</h1>
  <div ng-controller="tableController">
 
  <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/admin">Admin</a></li>
        <li><a href="#/login">Sign In</a></li>
        <li><a href="#/adduser">Agregar Usuario <INS></INS></a></li>
      </ul>
        <div ng-include="'menu.html'" scope="" onload=""></div>
          
          <div ng-init="checked2=false">
              <label>
                <input type="checkbox" ng-model="checked2" style="float:left; margin-right:10px;"> Tablero para Disparar...
              </label>
          
          <div class="check-element sample-show-hide" ng-show="checked2" style="clear:both;">
            <div ng-include="'/tablero_disparo.html'" scope="" onload=""></div>
            </div>
          </div>  
      
      <div style="float:left;;" ng-include="'/tablero_board.html'" scope="" onload=""></div>
      

  </div>

  <p><a class="btn btn-lg btn-success" ng-href="#">Reiniciar<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row marketing">
  <div ng-include="'/barco.html'" scope="" onload=""></div> 
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>
  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>


</div>
