<div ng-controller="generarController">
   {{bandera}} hola como estas
    <button>Empezar</button>
    <div>{{empezarJuego()}}</div>
</div>
<table ng-controller="tableController">

<tr id="row1">
  <td>
  <div tipo="cel11" class="celda" data-drop="true"  data-jqyoui-options ng-model="list11" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        
  </div>
  </td>
  <td>
  <div tipo="cel12" class="celda" data-drop="true"  data-jqyoui-options ng-model="list2" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        
  </div>
  </td>

  <td>
  <div tipo="cel13" class="celda" data-drop="true"  data-jqyoui-options ng-model="list3" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        
  </div>
  </td>
  <td>
  <div tipo="cel14" class="celda" data-drop="true"  data-jqyoui-options ng-model="list12" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel16" class="celda" data-drop="true"  data-jqyoui-options ng-model="list12" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list12.title">{{list12.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel17" class="celda" data-drop="true"  data-jqyoui-options ng-model="list7" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list12.title">{{list12.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel18" class="celda" data-drop="true"  data-jqyoui-options ng-model="list12" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list12.title">{{list12.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel19" class="celda" data-drop="true"  data-jqyoui-options ng-model="list7" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list13.title">{{list13.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel20" class="celda" data-drop="true"  data-jqyoui-options ng-model="list" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list14" jqyoui-draggable ng-hide="!list14.title">{{list14.title}}</div>
  </div>
  </td></tr>


<tr id="row2">
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>

</tr>

<tr id="row3">
  <td>
  <div tipo="cel11" class="celda" data-drop="true"  data-jqyoui-options ng-model="list17" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list11" jqyoui-draggable ng-hide="!list17.title">{{list17.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel12" class="celda" data-drop="true"  data-jqyoui-options ng-model="list2" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list11" jqyoui-draggable ng-hide="!list30.title">{{list30.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel13" class="celda" data-drop="true"  data-jqyoui-options ng-model="list18" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list11" jqyoui-draggable ng-hide="!list18.title">{{list18.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel14" class="celda" data-drop="true"  data-jqyoui-options ng-model="list12" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list11" jqyoui-draggable ng-hide="!list31.title">{{list31.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list19" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list19.title">{{list19.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel16" class="celda" data-drop="true"  data-jqyoui-options ng-model="list12" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list34.title">{{list34.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel17" class="celda" data-drop="true"  data-jqyoui-options ng-model="list7" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list34.title">{{list34.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel18" class="celda" data-drop="true"  data-jqyoui-options ng-model="list12" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list34.title">{{list34.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel19" class="celda" data-drop="true"  data-jqyoui-options ng-model="list23" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list12" jqyoui-draggable ng-hide="!list23.title">{{list23.title}}</div>
  </div>
  </td>

  <td>
  <div tipo="cel20" class="celda" data-drop="true"  data-jqyoui-options ng-model="list" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list14" jqyoui-draggable ng-hide="!list14.title">{{list14.title}}</div>
  </div>
  </td>

</tr>

<tr id="row4">
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list17" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list17.title">{{list17.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list18" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list18.title">{{list18.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list20" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list20.title">{{list20.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list23" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list23.title">{{list23.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>

</tr>

<tr id="row5">
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list23" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list23.title">{{list23.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>

</tr>

<tr id="row6">
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list21" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list21.title">{{list21.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list24" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list24.title">{{list24.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list22" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list22.title">{{list22.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>

</tr>

<tr id="row7">
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list15" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list25" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>
  <td>
  <div tipo="cel15" class="celda" data-drop="true"  data-jqyoui-options ng-model="list25" jqyoui-droppable="{onDrop:test($event)}" ejem-directiva> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list16" jqyoui-draggable ng-hide="!list16.title">{{list16.title}}</div>
  </div>
  </td>

</tr>

</table>