<table>
<tr>
  <td>
  <div class="barquillo" data-drop="true"  data-jqyoui-options ng-model="list7" jqyoui-droppable style='height:50px; width:120px'> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list7" jqyoui-draggable ng-hide="!list7.title"  onDrop="alert(quedo ahi)">{{list7.title}}</div>
  
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable="{multiple:true, onOver:'highlightRow'}" style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

</table>


