<div>
<div id="pan_cuartel" name="pan_naves">

    <div class="jumbotron" >
        <div class="cuartel clearfix" id="angar_4">
            <div class="acorazado" data-drag="true" jqyoui-draggable="{animated:true}">
                <div data-id="tam_4" data-lenght="4" data-position="h">
                    <a href="#"><img src="../public/images/images_battle/proyecto_oficial/nav_3.gif"></a>
                </div>
            </div>

        </div>   <br>

        <div class="cuartel clearfix" id="angar_3">
            <div class="fragatas" data-drag="true" jqyoui-draggable="{animated:true}"><div data-id="tam_3" data-lenght="3" data-position="h"></div></div>
            <div class="fragatas" data-drag="true" jqyoui-draggable="{animated:true}"><div data-id="tam_3" data-lenght="3" data-position="h"></div></div>
        </div>    <br>

        <div class="cuartel clearfix" id="angar_2">
            <div class="submarino" data-drag="true" jqyoui-draggable="{animated:true}"><div data-id="tam_2" data-lenght="2" data-position="h"></div></div>
            <div class="submarino" data-drag="true" jqyoui-draggable="{animated:true}"><div data-id="tam_2" data-lenght="2" data-position="h"></div></div>
            <div class="submarino" data-drag="true" jqyoui-draggable="{animated:true}"><div data-id="tam_2" data-lenght="2" data-position="h"></div></div>
        </div>  <br>

        <div class="cuartel clearfix" id="angar_1">
            <div class="mina" data-drag="true" jqyoui-draggable="{animate:true}">
                <div data-id="tam_1" data-lenght="1" data-position="h" ><a href="javascript:void(0)"><img src="../public/images/images_battle/batt5.gif"></a>
                </div>
            </div>
            <div class="mina" data-drag="true" jqyoui-draggable="{animate:true}">
                <div data-id="tam_1" data-lenght="1" data-position="h" data-drag="true" jqyoui-draggable="{animated:true}"><a href="javascript:void(0)"><img src="../public/images/images_battle/batt5.gif"></a>
                </div>
            </div>
            <div class="mina" data-drag="true" jqyoui-draggable="{animate:true}">
                <div data-id="tam_1" data-lenght="1" data-position="h" data-drag="true" jqyoui-draggable="{animated:true}"><a href="javascript:void(0)"><img src="../public/images/images_battle/batt5.gif"></a>
                </div>
            </div>
            <div class="mina" data-drag="true" jqyoui-draggable="{animate:true}">
                <div data-id="tam_1" data-lenght="1" data-position="h" data-drag="true" jqyoui-draggable="{animated:true}"><a href="javascript:void(0)"><img src="../public/images/images_battle/batt5.gif"></a>
                </div>
            </div>
        </div>
        <!--<script type="text/javascript">generar_tablero(20,15);</script>-->
    </div>

</div>
<div>
<table>
<tr>
  <td>
  <div class="barquillo" data-drop="true"  data-jqyoui-options ng-model="list7" jqyoui-droppable style='height:50px; width:120px'> 
        <div class="btn btn-success" jqyoui-draggable="{animate:true}" data-drag="true" data-jqyoui-options ng-model="list7" jqyoui-draggable ng-hide="!list7.title"  onDrop="alert(quedo ahi)">{{list7.title}}</div>
  
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable="{multiple:true, onOver:'highlightRow'}" style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

<tr>
  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>

  <td>
  <div class="barquillo" data-drop="true" data-drag="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px; width:120px'>
  </div>
  </td>
</tr>

</table>
</div>

</div>

