body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.celda
{
	display: inline-block;
	display: block;
	height: auto;
	max-width: 100%;
  width: 80px;
  height: 50px;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #4E577A;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a, a:hover {
  color: black;
}
.containerlogin	 {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  border: 2px solid gray;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.containeradduser  {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  border: 2px solid #3F4FE1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  float: left;
}

.overlay {
  padding: 15px;
  background: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*-webkit-filter: blur(5px);*/
}
h1 { color: black; }
.form-signin {
  color: black;
  font-family: 'Maven Pro', sans-serif;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox { font-weight: normal; }
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 1.25em;
}
.form-signin .form-control:focus { z-index: 2; }

.rotate-45-left {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.rotate-45-right {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer {
  font-size: .75em;
  margin-top: 20px;
}
.header {
  font-family: 'Maven Pro', sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
.loading {
  color: black;
  padding: 45px 15px;
  /*background: #eee;*/
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}
ul li
{
  float: left;
  padding: 15px;
}


.mostrarusers  {
  max-width: 350px;
  padding: 15px;
  margin: 15px;
  border: 2px solid #3F4FE1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  float: right;
}
.my-class {
    border: 10px solid blue;
}
.bold {font-weight: bold}