body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.barquillo
{
	display: inline-block;
	display: block;
	height: auto;
	max-width: 100%;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #4E577A;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.tablero{
    background-color: green;
    position: relative;
    top: -1.26em;
    left: -0.7em;
    margin-left: 1px;
}
.cuartel {
    position: relative;
    margin: 0;
}
.acorazado{

    background-color: coral;
    width: 8em;
    height: 2em;
    padding-right: 3px;
    padding-bottom: 0px;

    position: relative;
    margin: 1.26em .7em;
    float: left;
    border: 1px dotted #b2b2b9;


}
.fragatas{

    background-color: cadetblue;
    width: 6em;
    height: 2em;
    padding-right: 2px;
    padding-bottom: 0px;

    left: 0px;
    top: 0px;
    margin: -2px;

    position: relative;
    margin: 1.26em .7em;
    float: left;
    border: 1px dotted #b2b2b9;

}
.submarino{
    background-color: yellowgreen;

    width: 4em;
    height: 2em;
    padding-right: 1px;
    padding-bottom: 0px;

    position: relative;
    margin: 1.26em .7em;
    float: left;
    border: 1px dotted #b2b2b9;

}
.mina{
    background-color: tomato;
    width: 2em;
    height: 2em;
    padding-right: 0px;
    padding-bottom: 0px;

    position: relative;
    margin: 1.26em .7em;
    float: left;
    border: 1px dotted #b2b2b9;
}