body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.barquillo
{
    display: inline-block;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #4E577A;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tablero{
    background-color: green;
    position: relative;
    top: -1.26em;
    left: -0.7em;
    margin-left: 1px;
}
.cuartel {

    background-color: navajowhite;
    width: 520;
    height: 315;
    border: 1px dotted chocolate;

}
.acorazado{

    border: 1px solid gold;
    background-color: green;
    border: 1px solid royalblue;
    width: 160px;
    height:40px;
    float: left;
}
.fragata{

    border: 1px dotted gold;
    background-color: red;
    border: 1px solid royalblue;
    width: 120px;
    height:40px;
    float: left;

}
.submarino{
    border: 1px dotted gold;
    background-color: orange;
    border: 1px solid royalblue;
    width: 80px;
    height:40px;
    float: left;

}
.mina{
    border: 1px solid yellowgreen;
    background-color: green;
    border: 1px solid royalblue;
    width: 40px;
    height:40px;
    float: left;
}

/* elementos  aparte */
.mover{
    border: 1px solid gold;
    background-color: green;
    border: 1px solid royalblue;
    width: 252px;
    height:60px;
    float: left;

}


.barco{
    width: 40px;
    height:40px;
    background-color: #ffff00;
    float: left;
    margin: 0px;
    text-align: center;
}
.cont_start{
    border: 1px solid royalblue;
    position: relative;
    width: 260px;
    height:42px;
    padding: 5px;
    margin: 5px;

}
.cont_end{
    border: 1px solid orange;
    border: 1px solid royalblue;
    width: 290px;
    height:162px;
    padding: 2px;
}

.base{
    float: left;
    width:90px;
    height:75px;
    background-color: red;
    margin: 3px;
}

.posicion{
    float: left;
}